@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body{
  font-family: "Montserrat", sans-serif;
}

#wrapper {
  display: flexbox;
}

/* navigation styles */
.nav-header {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  min-height: 40px;
  border-bottom: 2px solid #eee;
  margin-bottom: 5px;
}

.nav-title {
  align-self: center;
  justify-content: center;
}
.nav-title h1 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #507aaa;
  margin-left: 10px;
  overflow: hidden;
}

.nav-navbar {
  display: flex;
  align-self: center;
  align-items: flex-end;
}

.nav-navbar ul {
  list-style: none;
  height: 100%;
}

.nav-navbar ul li {
  display: inline;
  cursor: pointer;
  padding: 10px;
}

.nav-navbar ul li:hover {
  border-bottom: 1px solid #aab2b8;
  transition: 1s;
  left: 0;
  animation: fadein 1s;
}

.nav-navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #507aaa;
}

.nav-navbar ul li a:hover {
  color: #007acc;
}

.nav-navbar ul li a:visited {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .nav-header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .nav-title {
    justify-content: flex-start;
  }
  .nav-title h1 {
    font-size: 1.2em;
  }

  .nav-navbar ul li:hover {
    border-bottom: 1px solid #aab2b8;
    transition: 1s;
    left: 0;
    animation: fadein 1s;
  }
}

/* main section */
#container {
  width: 100%;
}

.overlay img {
  height: 50%;
  width: 90%;
  margin-left: 5%;
}
.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* cards sections */
.card {
  display: flex;
  flex-direction: column;
  width: 25%;
  border: 2px solid #eee;
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
}

.card:hover {
  background: #eee;
}

.card img {
  align-self: center;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  margin: 5px;
}
.card h3 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #507aaa;
  font-size: 1.5em;
}

.card p {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  line-height: 25px;
  color: #007acc;
}

@media screen and (max-width: 768px) {
  .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .card {
    align-self: center;
    width: 80%;
  }
}

/* slideshow */
#slisdeshow {
  width: 100%;
  align-self: center;
  position: relative;
  margin-top: 15px;
  margin-bottom: 25px;
}

.slideshow-item {
  display: none;
}

.slideshow-item img {
  align-self: center;
  width: 80%;
  height: 550px;
  border-radius: 5px;
  margin: 5px;
  opacity: 0.9;
}

.slideshow-caption {
  position: absolute;
  top: 4px;
  right: 15%;
  color: #f0f0f0;
  font-size: 0.5em;
  text-transform: lowercase;
  font-family: "Montserrat", sans-serif;
}

.active {
  display: flex;
  flex-direction: column;
  animation: fade 3s;
}

@media screen and (max-width: 768px) {
  #slisdeshow {
    margin: 0px;
  }
  .slideshow-item img {
    align-self: center;
    width: 80%;
    height: 250px;
    border-radius: 5px;
    margin: 5px;
    opacity: 0.9;
  }
}

/* animations */

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    border-bottom: 1px solid transparent;
  }
  to {
    border-bottom: 1px solid #aab2b8;
  }
}

@keyframes slide {
  0%,
  100% {
    left: 0;
  }
  50% {
    right: 0;
  }
}
